@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Inter;
}

.dark-container {
  width: 100%;
  height: 100dvh;
  background: #2d033b;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
}

.inner-container {
  width: 30%;
  height: 95%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.darktoggle-container {
  height: 10%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.format-toggle-twelve{
  background-image: url('/Th.svg');
  height: 2rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-size: contain;
  background-repeat: no-repeat;
  transition: justify-content 1s ease-in-out linear;
}

.format-toggle-twenty{
  background-image: url('/Twh.svg');
  height: 2rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-size: contain;
  background-repeat: no-repeat;
  transition: justify-content 1s ease-in-out linear;
}

.format-switch{
  height: 1.5rem;
  width: 1.5rem;
  background-image: url('/switchbutton.svg');
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 0.2rem;
  margin: 0.2rem;
  color: #2d033b;
  font-size: 0.7rem;
  text-align: center;
}

.dark-button{
  background-image: url('/Sky Switch - Dark.svg');
  height: 2rem;
  width: 4rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.light-button{
    background-image: url('/Sky Switch - Light.svg');
    height: 2rem;
    width: 4rem;
    background-size: contain;
    background-repeat: no-repeat;
}

.darkclock-container{
    height: 30%;
    width: 100%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    box-shadow: 9px 24px 15px 2px rgba(0, 0, 0, 0.50);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dark-clock-body{
    height: 40%;
    width: 90%;
    display: flex;
    justify-content: center;
}

.dark-time{
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 4rem;
    height: 100%;
}

.dark-seconds{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
}

.dark-am, .dark-second{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45%;
    width: 100%;
    font-size: 1.5rem;
}

.dark-day-body{
    height: 40%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}


@media only screen and (max-width: 600px) {
  .inner-container {
    width: 85%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
